<% if signed_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>Micropost Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
  <div class="center jumbotron">
    <h1>Welcome to the Original App</h1>
    <h2>あなたの日常を自由に投稿してみよう！！</h2>
      <ul　class="nav nav-pills center-block">
        <li>
          <%=link_to "新規登録", new_user_registration_path, class:"btn btn-lg btn-primary" %>
        </li>
      </ul>
  </div>
<% end %>