<% provide(:title, "Search") %>

<h1>検索フォーム</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:search, url:search_path) do |f| %>
    
      <%= f.text_field :keyword, placeholder: "Search..." %>
      <%= f.submit '検索する', class: "btn btn-primary"  %>
      
    <% end %>

    <ol class = "users">
      <%= render @users if @users %>
    </ol>
    <ol class = "microposts">
      <%= render @microposts if @microposts %>
    </ol>
  </div>
</div>