<% provide(:title, "Edit user") %>
<h1>プロフィール編集</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      
      <%= f.label :name, "名前(必須)" %>
      <%= f.text_field :name, autofocus: true, autocomplete: "name", class: 'form-control' %>
      
      <%= f.label :user_name, "ユーザーネーム(必須)" %>
      <%= f.text_field :user_name, autofocus: true, autocomplete: "user_name", class: 'form-control' %>
      
      <%= f.label :url, "ウェブサイト" %>
      <%= f.text_field :url, autofocus: true, autocomplete: "url", class: 'form-control' %>
      
      <%= f.label :self_introduction, "自己紹介" %>
      <%= f.text_area :self_introduction, autofocus: true, autocomplete: "self_introduction", class: 'form-control' %>
      
      <%= f.label :email, "メールアドレス(必須・非公開)" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>

      <%= f.label :phone_number, "電話番号(非公開)" %>
      <%= f.text_field :phone_number, autofocus: true, autocomplete: "phone_number", class: 'form-control' %>

      <h5>性別(非公開)</h5>
      <div class="form-inline">
        <div class="checkbox-inline">
          <%= f.label :gender, "男性" %>
          <%= f.radio_button :gender, :man %>
        </div>
        <div class="checkbox-inline">
          <%= f.label :gender, "女性" %>
          <%= f.radio_button :gender, :woman %>
        </div>
        <div class="checkbox-inline">
          <%= f.label :gender, "回答しない" %>
          <%= f.radio_button :gender, :other %>
        </div>
      </div>
       
      <h3><%= f.submit "変更する", class: "btn btn-primary" %></h3>
      
    <% end %><br />
    
    <h1><%= link_to "アカウントを削除する", registration_path(resource_name),
             method: :delete, data: {confirm: "本当に削除しますか？"}, class:"btn btn-danger" %></h1>

    <div class="gravatar_edit">
      <%= gravatar_for @user %>
      <a href="http://gravatar.com/emails" target="_blank">Change</a>
    </div>
    <div><%= link_to "Back", :back %></div>
  </div>
</div>