<% provide(:title, 'Sign up') %>
<h1>新規登録</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
　  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      
      <%= f.label :name, "名前" %>
      <%= f.text_field :name, autofocus: true, autocomplete: "name", class: 'form-control' %>
      
      <%= f.label :user_name, "ユーザーネーム" %>
      <%= f.text_field :user_name, autofocus: true, autocomplete: "user_name", class: 'form-control' %>
      
      <%= f.label :email, "メールアドレス" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>

      <%= f.label :password, "パスワード" %>
      <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %>文字以上)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password", class: 'form-control' %>

      <%= f.label :password_confirmation, "パスワード(確認)" %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control' %>
　　　
　　　<p><%=link_to "利用規約", "#" %></p>

      <%= f.submit "アカウント作成", class: "btn btn-primary" %>
    
    <% end %><br />
    
    <p><%=link_to "登録済の方はこちらへ", new_user_session_path %></p>
    <%= link_to "Back", :back %>
  </div>
</div>