<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@comment) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      
        <%= hidden_field_tag :micropost_id, @micropost.id %>
        <%= f.text_field :content, placeholder: "Comment..." %>
        
        <%= f.submit "コメントする", class: "btn btn-primary btn-sm" %>
    <% end %>
  </div>
</div>