<% visitor = notification.visitor %>
<% visited = notification.visited %>

<li>
  <span>
    <%= link_to "#{visitor.name}", user_path(visitor)%>さんが、
  </span>
  
  <% case notification.action %>
    <% when "follow" then %>
      <span>
        あなたをフォローしました。
      </span>
    <% when "like" then %>
      <span>
        <%= link_to "あなたの投稿",
                micropost_path(notification.micropost) %>にいいね！しました。
      </span>
    <% when "comment" then %>
      <span>
        <%= link_to "あなたの投稿",
                micropost_path(notification.micropost) %>にコメントしました。
      </span>
  <% end %>
    
    <div class="small text-muted text-right">
      <%= time_ago_in_words(notification.created_at) %>前
    </div>
  <hr>
</li>