<% provide(:title, "Notifications") %>

<div class="row">
  <div class="col-md-10">
    <h1>通知</h1>
    <hr>
    <% if @notifications.exists? %>
      <ul>
        <%= render @notifications %>
      </ul>
        <%= will_paginate @notifications %>
    <% else %>
      <p>通知はありません。</p>
    <% end %>
  </div>
</div>