<span id="like">
  <% if current_user.like?(@micropost) %>
    <%= form_for(current_user.likes.find_by(micropost_id: @micropost.id),
                                       method: :delete, remote: true) do |f| %>
      <%= button_tag(class: "btn btn-default btn-xs") do %>
        <%= content_tag :span, "いいね済", class: "glyphicon glyphicon-heart" %>
      <% end %>
    <% end %>
  <% else %>
    <%= form_for(current_user.likes.build, remote: true) do |f| %>
      <div><%= hidden_field_tag :micropost_id, @micropost.id %></div>
      <%= button_tag(class: "btn btn-default btn-xs") do %>
        <%= content_tag :span, "いいね！", class: "glyphicon glyphicon-heart-empty" %>
      <% end %>
    <% end %>
  <% end %>
</span>