<% provide(:title, "Likes") %>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h3>お気に入り<%= current_user.likes.count %>件</h3>
      <ol class="microposts">
        <%= render @liked_microposts %>
      </ol>
      <%= will_paginate @liked_microposts %>
  </div>
</div>