<% provide(:title, @user.user_name) %>

<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
      <div>
        <% if current_user?(@user) %>
          <%= link_to "プロフィール編集", edit_user_registration_path %>
        <% end %>
      </div>
      <div>ウェブサイト ： <%= link_to @user.url, "#{@user.url}" if @user.url %></div>
      <div>自己紹介 ： <%= @user.self_introduction if @user.self_introduction %></div>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
    <section>
      <%= render 'follow_form' if signed_in? %>
    </section>
  </aside>
  <div class="col-md-8">
    <% if @user.microposts.any? %>
      <h3>投稿<%= @user.microposts.count %>件</h3>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
      <%= will_paginate @microposts %>
    <% else %>
      <p><%= @user.name %>さんの投稿はありません</p>
    <% end %>
  </div>
</div>