<% provide(:title, 'Reset password') %>
<h1>パスワード再設定</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <%= f.hidden_field :reset_password_token %>

      <%= f.label :password, "新しいパスワード" %>
      <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %>文字以上)</em>
      <% end %>
      <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: 'form-control' %>

      <%= f.label :password_confirmation, "新しいパスワード(確認)" %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control' %>

      <%= f.submit "パスワードの再設定", class: "btn btn-primary" %>
      
    <% end %><br />
    
    <%= link_to "Back", :back %>
  </div>
</div>