<% provide(:title, "Forgot password") %>
<h1>パスワードの再設定へ</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <%= f.label :email, "メールアドレス" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>

      <%= f.submit "パスワードの再設定へ", class: "btn btn-primary" %>
      
    <% end %><br />
  
    <%= link_to "Back", :back %>
  </div>
</div>