<%= link_to gravatar_for(current_user, size: 80), current_user %>
<h1><%= current_user.name %></h1>
<span><%= link_to "My page", current_user %></span>
<span>投稿<%= current_user.microposts.count %>件</span>