<% provide(:title,'Log in')%>
<h1>ログイン</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

      <%= f.label :email, "メールアドレス" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>

      <%= f.label :password, "パスワード" %>
      <%= link_to "(パスワードを忘れた方はこちらへ)", new_user_password_path %>
      <%= f.password_field :password, autocomplete: "current-password", class: 'form-control' %>

      <% if devise_mapping.rememberable? %>
        <div class="field">
          <div class="checkbox">
            <%= f.check_box :remember_me %>
          </div>
          <div class="checkbox-label">
            <%= f.label :remember_me, "ログイン状態の保持" %>
          </div>
        </div>
      <% end %><br />

      <%= f.submit "ログイン", class: "btn btn-primary" %>
      
    <% end %><br />
    
    <p><%= link_to "新規登録の方はこちらへ", new_user_registration_path %></p>
    <%= link_to "Back", :back %>
  </div>
</div>