<li>
  <%= link_to gravatar_for(micropost.user, size: 50), micropost.user %>
  <span class="user"><%= link_to micropost.user.name, micropost.user %></span>
  <span class="content">
    <% unless micropost.image.blank? %>
      <%= link_to (image_tag micropost.image.url), micropost_path(micropost) %>
    <% end %>
      <%= micropost.content %>
  </span>
  <span class="timestamp">
    <%= time_ago_in_words(micropost.created_at) %>前
  </span>
</li>