<% provide(:title, 'New post') %>
<h1>新規投稿</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@micropost) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      
        <%= f.label :image, "画像" %>
        <%= f.file_field :image, accept:"image/png,image/jpeg" %>
    
        <%= f.label :content, "コメント欄" %>
        <%= f.text_field :content, placeholder: "Compose new micropost..." %>
        
        <%= f.submit "投稿する", class: "btn btn-primary" %>
        
    <% end %>
  </div>
</div>

<script type="text/javascript">
  $('#micropost_picture').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('Maximum file size is 5MB. Please choose a smaller file.');
    }
  });
</script>