<% provide(:title, "Micropost") %>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h1 class="image">
      <%= link_to gravatar_for(@micropost.user, size: 50), @micropost.user %>
    </h1>
    <h4 class="user"><%= link_to @micropost.user.name, @micropost.user %></h4>

    <section>
      <div class="content">
        <%= image_tag @micropost.image.url unless @micropost.image.blank?  %>
      </div>
      <div><%= @micropost.content %></div>
      <div class ="timestamp">
        <%= time_ago_in_words(@micropost.created_at) %>前
      </div>
      <div><%= render partial:'likes/like', micropost: @micropost %></div>
      <div>
        <% if current_user?(@micropost.user) %>
          <%= link_to "投稿を削除する", @micropost, method: :delete,
                                  data: { confirm: "本当に削除しますか?" },
                                  class:"btn btn-danger btn-sm" %>
        <% end %>
      </div>
      <div><%= render partial:'comments/comment_form' %></div>
      <p></p>
      <div class="col-md-6">
        <% if @comments.any? %>
        <ol class="microposts">
          <%= render @comments %>
        </ol>
        <%= will_paginate @comments %>
        <% end %>
      </div>
    </section>
  </div>
</div>