<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Original App", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_path %></li>
        <% if user_signed_in? %>
          <li><%= link_to "お気に入り", likes_path %></li>
          <li><%= link_to "検索", search_path %></li>
          <li><%= link_to "通知", notifications_path %></li>
          <li><%= link_to "My page", user_path(current_user) %></li>
          <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "ログイン", new_user_session_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>